

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6fa;
  color: #333;
}

header {
  background: linear-gradient(to right, #d383c2, #a770ef);
  padding: 20px;
  text-align: center;
  color: rgb(20, 19, 19);
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

nav {
  margin-top: 15px;
}

nav a {
  margin: 0 10px;
  padding: 10px 15px;
  background-color: wheat;
  color: #444;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #fdf8f8;
}

main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tema {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.tema h2 {
  color: #a770ef;
  margin-bottom: 10px;
}

.contenido {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contenido img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}






































